{% extends 'Gigstop/base.html' %}

{% block body_block %}

	<header id="header">

	<span style="margin: 0, 100px, 0, 100px;">
		<h1>At <strong>Gig Hub</strong> we believe there is so much <span class="logo" style="color:#ff6600;"> great local music</span> out there <br> But it still remains difficult to unearth... </h1>

		<p>Gig hub aims to create an easy way for music lovers to quickly and easily look for local gigs, remember intersting bands and buy tickets directly.  <br><br>

		The wall area acts as a great medium to effortlessly sample a bands media which we believe is a much better way to advertise than any poster or listing. <br><br>

		Users who sign up can save bands they like and remember them for another time, stay up to date with the next time they are playing, receive special offers and new media. <br><br>

		</p>
	</span>

		<br>
		
		<p>The gig hub team - </p>
		<p><span style="color:#ff6600;">
			<a href="https://github.com/moaiii" target="blank">Christopher Melville</a> - 
			<a href="https://github.com/pgorevan" target="blank">Patrick Gorevan</a> - 
			<a href="https://github.com/ShinRa26" target="blank">Graham Keenan</a > - 
			Ben Roy
		</span></p><br>

						
	</header>

</about>
<!-- <a href="{% url 'index' %}" id="home">Back to Home</a> -->


{% endblock %}