<!-- {% extends 'Gigstop/base.html' %} -->

{% block title %}Add Event{% endblock %}

	{% block body_block %}

	<header id="header">

		<h1>Add an Event</a></h1>

		<p>Events will show up on the main wall for people in that location</p><br>
			
<!-- 			<div class="EventBox"> -->

	            <form id="add_Event" method="post" action="{% url 'add_event' %}">
			
		            {% csrf_token %}

		            {{ event_form.as_p }}
		            
		            {{ ticket_form.as_p }}

	                <br/>
	             <input class="button" type="submit" name="Create Event" value="Create Event!"></input>
	             <input class="button" type="submit" name="cancel" value="Cancel" onClick="parent.location='{% url 'performer_profile' %}'"/>

		        </form>

<!-- 		    </div> -->

	</header>

	{% endblock %}