<!DOCTYPE html>

{% load static %}
{% load app_tags %}

<! CSS !>
<link rel="stylesheet" href="../../static/CSS/CSSmenu.css" type="text/css" media="all">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<! jQuery >
<script src="../../static/JS/jquery-1.6.1.min.js"></script>
<script src="../../static/JS/jquery.prettyPhoto.js"></script>
<!-- <script src="../../static/JS/gigstop-jquery.js"></script> -->
<script src="{% static "JS/gigstop-jquery.js" %}"></script>
<script src="{% static "JS/gigstop-ajax.js" %}"></script>
<script src="../../static/JS/masonry.pkgd.min.js"></script>
<script src="../../static/JS/jquery.fittext.js"></script>
<script src="../../static/JS/jquery.lettering.js"></script>
<script src="../../static/JS/animation.js"></script>
<script src="../../static/JS/jquery.textillate.js"></script>





<!-- .Begin Base content -->
<html>
	<body onload="buyTicket()">
		<div id="container">

			<navbar id="navbar" role="navigation">
				<div>
					<ul>
							<li><a href="http://twitter.com/moaimsc" target="blank"
								class="icon style6 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/MOAImusic/" target="blank"
								class="icon style6 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="http://soundcloud.com/moai_music" target="blank"
								class="icon style6 fa-soundcloud"><span class="label">Soundcloud</span></a></li>
							<li><a href="mailto:christopher.melville@me.com" target="blank"
								class="icon style6 fa-envelope-o"><span class="label">Email</span></a></li>

							<li><a id="logo" href="{% url 'index' %}" >gig hub </a></li>

							<li><a href="{% url 'about' %}" id="about">About</a></li>
							
						{% if user.is_authenticated %}

							<li><a href="{% url 'logout' %}" id="logout">Logout</a></li>

							{% if user|is_member:"Band" %}
								<li><a href="{% url 'performer_profile' %}" id="performer_profile">{{ user.username }}'s Profile</a></li>
							{%else%}
								<li><a href="{% url 'userprofile' %}" id="userprofile">{{ user.username }}'s Profile</a></li>
							{% endif %}

						{%else %}

							<li><a href="{% url 'login' %}" id="login">Login</a></li>
							<li><a href="{% url 'register' %}" id="register">Register</a></li>

						{% endif %}

					</ul>
				</div>
			</navbar>

			<div id="content">
				{% block body_block %}{% endblock %}
			</div>

		</div>

	</body>

</html>