<!DOCTYPE html>

{% load static %}

<html>
	<head>

			<title>GigStop</title>

			<link rel="stylesheet" href="{% static "CSS/CSSmenu.css" %}" type="text/css" media="all"/>

			<!--Import JavaScript-->
			<script type="text/javascript" src="{% static "JS/jquery.min.js" %}"></script>
			<script src="{% static "JS/masonry.pkgd.min.js" %}"></script>
			<script src="{% static "JS/ppjs/jquery.prettyPhoto.js" %}" type="text/javascript" charset="utf-8"></script>

			<!--Import CSS-->
			<link rel="stylesheet" href="{% static "CSS/CSSmenu.css" %}" type="text/css" media="all">
    		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    		<link rel="stylesheet" href="{% static "CSS/prettyPhoto.css" %}" type="text/css" media="screen" charset="utf-8" />
	</head>

	<body>
		<div id="container">
		<!--Navigation header-->
			<header>
				<nav id="menu" class="nav">

					<div>
						<ul id="toolbar">
							<li><a href="#" id="GSlogo">GIGSTOP</a></li>
							<li><a href="#login" id="price">Login</a></li>
							<li><a href="#about" id="buyTickets">About</a></li>
							<li><a href="#myAccount" id="interested">My Account</a></li>	
						</ul>
					</div>

					<div class="social">
	                    <ul>
	                        <li><a href="http://twitter.com"><span class="screen-reader-text">Twitter</span></a></li>
	                        <li><a href="http://facebook.com"><span class="screen-reader-text">Facebook</span></a></li>
	                        <li><a href="http://youtube.com"><span class="screen-reader-text">YouTube</span></a></li>
	                    </ul>
					</div>

				</nav>
			</header>
			<hr />
			
			{% block body_block %}{% endblock %}
		</div>
	</body>
</html>