<!DOCTYPE html>

{% load static %}
{% load app_tags %}


<link rel="stylesheet" href="../../static/CSS/CSSmenu.css" type="text/css" media="all">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!"{% static "CSS/CSSmenu.css" %}"!>

<!-jQuery->
<script src="../../static/JS/jquery-1.6.1.min.js"></script>
<script src="../../static/JS/jquery.prettyPhoto.js"></script>
<script src="../../static/JS/gigstop-jquery.js"></script>
<script src="../../static/JS/masonry.pkgd.min.js"></script>
<script src="../../static/JS/jquery.fittext.js"></script>
<script src="../../static/JS/jquery.lettering.js"></script>
<script src="../../static/JS/animation.js"></script>
<script src="../../static/JS/jquery.textillate.js"></script>





<!-- .Begin Base content -->
<html>
	<body>
		<div id="container">

			<navbar id="navbar" role="navigation">
				<div>
					<ul>
							<li><a href="http://twitter.com/moaimsc" target="blank"
								class="icon style6 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/MOAImusic/" target="blank"
								class="icon style6 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="http://soundcloud.com/moai_music" target="blank"
								class="icon style6 fa-soundcloud"><span class="label">Soundcloud</span></a></li>
							<li><a href="mailto:christopher.melville@me.com" target="blank"
								class="icon style6 fa-envelope-o"><span class="label">Email</span></a></li>

							<li><a id="logo" href="{% url 'index' %}" >gig hub </a></li>

							<li><a href="{% url 'about' %}" id="about">About</a></li>
							
						{% if user.is_authenticated %}

							<li><a href="{% url 'logout' %}" id="logout">Logout</a></li>

							{% if user|is_member:"Band" %}
								<li><a href="{% url 'performer_profile' %}" id="performer_profile">My Profile</a></li>
							{%else%}
								<li><a href="{% url 'userprofile' %}" id="userprofile">{{ user.username }}'s Profile</a></li>
							{% endif %}

						{%else %}

							<li><a href="{% url 'login' %}" id="login">Login</a></li>
							<li><a href="{% url 'register' %}" id="register">Register</a></li>

						{% endif %}

					</ul>
				</div>
			</navbar>

				
			
			<div id="content">
				{% block body_block %}{% endblock %}
			</div>


		</div>


		<script type="text/javascript" charset="utf-8">

					/*Pretty photo - in frame media player*/
						$(document).ready(function(){
						$("a[rel^='prettyPhoto']").prettyPhoto({
							social_tools:false,
							// default_width:400,
							// default_height:300,
							theme: 'dark_rounded',
							});
						});

					/*Masonry - wall tiling effect*/
						$('.wall').masonry({
			  				itemSelector: ".wall-item",
			  				columnWidth: 300,
			  				rowHeight:300,
						});

					/* side bar - scroll in animation */
						$(document).ready(function() {
					    $('#footer').click(function() {
					        $('#footer').animate({
					        'marginTop' : "+=600px" //moves left
					        });
					    });

					    $("#wall-action-save").click(function() {
					        $('#footer').animate({'marginLeft' : "+=300px"});
					    });

					    $("#footer-close").click(function() {
					        $('#footer').animate({'marginLeft' : "-=300px"});
					    });

					/*Main logo - pulse animation*/
				    $(function () {
					    $('#logo').textillate({ 
					    	loop:true, 
					    	in:{effect:'pulse', delay: 100, delayScale: 10, shuffle:true }, 
					    	reverse:true, 
					    	out:{effect:'pulse', delay: 100, delayScale: 10, shuffle:true } });
					})

					});
		</script>

	</body>
</html>