<!-- {% extends 'Gigstop/base.html' %} -->
<!-- {% load static %} -->
<!-- 
<link rel="stylesheet" href="../../static/CSS/CSSmenu.css" type="text/css" media="all">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
 -->

<!-- {% block body_block %}
 -->
<style>
	
/*	h2{
		color: white;
	}

	li {
		color: #D26;
	}*/

</style>

<!-- 	<h2 style="color:white;">Confirm Ticket Purchase</h2>
	<br/> -->
	<ul>
		<h2> <strong>{{ event.name }}</strong></h2>
		<li> Date: <strong>{{ event.time }}</strong></li>
		<li> Venue: <strong>{{ event.venue }}</strong></li>
		<li> Performer: <strong>{{ event.performer }}</strong></li>
		<li> Ticket Price: <strong>£{{ event.price }}</strong></li>
	</ul>
	<form id="buy_tickets" method="post" action="{% url 'buy_tickets' event.id %}">
		{% csrf_token %}
		{{ buy_form.as_p }}
		<br/>
		<button type="submit" name="submit">Purchase Tickets!</button>
	</form>

<!-- {% endblock %}