{% extends 'Gigstop/base.html' %}

{% load staticfiles %}

{% block body_block %}

				{% if wallPopulate %}
					<ul>
						{% for Event in wallPopulate %}
							<li><a href="http://www.youtube.com/watch?v=k_LAZjLi3RU" target="blank"> {{ Event.media }} {{Event.name}} {{Event.venue}} </a> </li>
						{% endfor %}
					</ul>
				{% else %}
					<p>There was an error!</p>
				{% endif %}

				<!-- <div class="caption">
					<a id="bandPage" href="http://facebook.com" target="blank">MOTHERS CAKE</a>
					<p id="genre">Alt Rock</p>
					<p>King Tuts Whah Whah Hut</p>
					<p id="price">$8.00</p>
					<a id="videoPlay" rel="prettyphoto" href="http://www.youtube.com/watch?v=k_LAZjLi3RU" target="blank">PLAY</a>
					<a id="buy" href="http://twitter.com" target="blank">BUY TICKETS</a>
					<a id="interested" href="http://google.com" target="blank">I LIKE THIS!</a>
				</div> -->
		</div>

{% endblock %}