{% extends 'Gigstop/base.html' %}

{% load staticfiles %}

{% block body_block %}

	{% if wallPopulate %}

	<body>

		<!WALL INTRODUCTION!>
		<header id="header">

			{% if user.is_authenticated %}
				<h1 class="welcome" ><strong>{{ user.username }}'s</strong> media wall<br></h1>
				{% if eventLocations %}
					<p>now showing your gigs in {{ userLocation.location }}</p>
				{% else %}
					<p>There do not appear to be any gigs in {{ userLocation.location }}.<br/> Here is a list of available gigs from other cities.</p>
				{% endif %}
			{%else %}
				<h1 class="welcome">Welcome to <strong>Gig Hub</strong></li>
				<h1 style="font-size:95%;">you can't describe music with words or pictures<br>
				thats why Gig hub helps you <strong>media-dip</strong> your upcoming local shows to find out whos really playing</h1>
			{% endif %}
		</header>

	</body>	


	<!WALL ITEMS!>
	<!-- <section id="main"> -->

		<section class="wall">

			<footer id="savedAlert">
				<div class="saveIt">
					<p id="savemessage"> has been added to your favourites!</p>
				</div>
			</footer>
			{% if user.is_authenticated %}

				{% if eventLocations %}

				{% for Event in eventLocations %}

				<div class="wall-item">

					<a id="wall-item-media" href="{{Event.media}}" rel="prettyphoto" title="">
						<img class="wall-item-img" src="{{Event.getcode}} " alt="" /><br>
						<span class="wall-item-info"><span>
							<h3><br><strong>{{Event.performer.bandname}}</strong><br>
								<br>{{Event.name}}
								<br>{{Event.venue}}
								 - {{Event.venue.location}}
								 <br>£ {{Event.price}}</h3>
						</span></span>

					</a>

					<footer id="footer">
						<div class="buyit">
						</div>

						<button id="footer-close" type="button" onclick="" style="color:white;">Close</button>

					</footer>

					<button id="index-button" data-url="{% url 'buy_tickets' Event.id %}"  type="button" class="btn btn-primary buyticket" value="{{Event.id}}">Buy Tickets</button>
					<button id="index-button" data-eventid="{{Event.id}}" type="button" class="btn btn-primary likethis" value="{{Event.id}}">I like this</button>

				</div>
				{% endfor %}

				{% else %}

					{% for Event in wallPopulate %}

				<div class="wall-item">

					<a id="wall-item-media" href="{{Event.media}}" rel="prettyphoto" title="">
						<img class="wall-item-img" src="{{Event.getcode}} " alt="" /><br>
						<span class="wall-item-info"><span>
							<h3><br><strong>{{Event.performer.bandname}}</strong><br>
								<br>{{Event.name}}
								<br>{{Event.venue}}
								 - {{Event.venue.location}}
								 <br>£ {{Event.price}}</h3>
						</span></span>
					</a>
					
					<footer id="footer">
						<div class="buyit">
						</div>

						<button id="footer-close" type="button" onclick="" style="color:white;">Close</button>
						
					</footer>

					<a id="wall-action-buy" href="{% url 'buy_tickets' Event.id %}" id="buy">Buy Tickets</a>	
					<button data-eventid="{{Event.id}}" type="button" class="btn btn-primary likethis" value="{{Event.id}}">I like this</button>

				</div>

				{% endfor %}

			{% endif %}

			{% else %}

			<!USER IS NOT LOGGED IN!>

				{% for Event in wallPopulate %}

				<div class="wall-item">

					<a id="wall-item-media" href="{{Event.media}}" rel="prettyphoto" title="">
						<img class="wall-item-img" src="{{Event.getcode}} " alt="" /><br>
						<span class="wall-item-info"><span>
							<h3><br><strong>{{Event.performer.bandname}}</strong><br>
								<br>{{Event.name}}
								<br>{{Event.venue}}
								 - {{Event.venue.location}}
								<br><span style="color:#ff6600;">login to purchase</span></h3>
						</span></span>
					</a>
				</div>

				{% endfor %}

			{% endif %}

		</section>

	{% endif %}

{% endblock %}