<html lang="en">
	<head>
			<meta charset="utf-8">

			<title>JQuery Masonry Test</title>

			<link rel="stylesheet" href="app.css" type="text/css"/>

			<script type="text/javascript" src="jquery.min.js"></script>
			<script src="masonry.pkgd.min.js"></script>

			<link rel="stylesheet" href="style-menus.css" type="text/css" media="all">
    		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">





	</head>
		<body>

			<header>
				<nav id="menu" class="nav">
					<div>
						<ul id="toolbar">
							<li><a href="#" id="GSlogo">GIG STOP</a></li>
							<li><a href="#login" id="price">Login</a></li>
							<li><a href="#about" id="buyTickets">About</a></li>
							<li><a href="#myAccount" id="interested">My Account</a></li>	
						</ul>
					</div>
					<div class="social">
	                    <ul>
	                        <li><a href="http://twitter.com"><span class="screen-reader-text">Twitter</span></a></li>
	                        <li><a href="http://facebook.com"><span class="screen-reader-text">Facebook</span></a></li>
	                        <li><a href="http://youtube.com"><span class="screen-reader-text">YouTube</span></a></li>
	                    </ul>
					</div>
				</nav>
			</header>


			<div id="banner">
				<p>local events the easy way</p>
			</div>



		<div class="grid">
			<div class="grid-item">
				<p id="grid-1">test test test</p>
				<iframe src="https://www.youtube.com/watch?v=LqNgDQ_awVQ" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item grid-item--width2 grid-item--height2">
				<iframe src="https://www.youtube.com/embed/nLKb4Wa8DD0" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item grid-item--height3">
				<iframe src="https://www.youtube.com/embed/6fJrtbdxfG8" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item grid-item--height2">
				<iframe src="https://www.youtube.com/embed/wdpDtAjZuWQ" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item grid-item--width3">
				<iframe src="https://www.youtube.com/embed/Z6ih1aKeETk" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item">
				<iframe src="https://www.youtube.com/embed/wdpDtAjZuWQ" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item">
				<iframe src="https://www.youtube.com/embed/m5vw4ajnWGA" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item grid-item--height2">
				<iframe  src="https://www.youtube.com/embed/vwjwKPXy4sg" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item grid-item--width2 grid-item--height3">
				<iframe src="https://www.youtube.com/embed/sevZEOUXpw4" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item">
				<iframe  src="https://www.youtube.com/embed/jXPMhqubN50" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item grid-item--height2">
				<iframe src="https://www.youtube.com/embed/3NPxqXMZq7o" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item">
				<iframe src="https://www.youtube.com/embed/DoxUiqUpkw4" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item grid-item--width3 grid-item--height2">
				<iframe src="https://www.youtube.com/embed/5DUCKGyojpE" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item grid-item--width2">
				<iframe src="https://www.youtube.com/embed/jEgX64n3T7g" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item">
				<iframe src="https://www.youtube.com/embed/gvlNy8CdlIY" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item grid-item--height2">
				<iframe src="https://www.youtube.com/embed/nvUeo5sagkA" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item">
				<iframe src="https://www.youtube.com/embed/X_H3cIsenBQ" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item">
				<iframe src="https://www.youtube.com/embed/J_izLoQbyWQ" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item grid-item--height3">
				<iframe src="https://www.youtube.com/embed/k8XSV-qoHDQ" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item grid-item--height2">
				<iframe src="https://www.youtube.com/embed/MJCHeEQV454" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item">
				<iframe src="https://www.youtube.com/embed/FROn3LtGFl0" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item">
				<iframe src="https://www.youtube.com/embed/k4P4XNLE8cU" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="grid-item grid-item--height2">
				<iframe src="https://www.youtube.com/embed/qm7Xt2Qsjcg" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>





		<script>
			$('.grid').masonry({
  				itemSelector: '.grid-item',
  				columnWidth: 160
			});

			$(document).ready(function() {
				$('.grid-item').hover(function(){
					$("#grid-1").text("blah blah blah");
		  			$(this).css("background-color", "#D26");
		  		})
			});

			//Social Media Button Pink Hover
			$(document).ready(function() {
				$('.nav').hoever(function(){
		  			$(this).css("color", "#D26"); 
		  		});
			});

			function init() {
   	 		window.addEventListener('scroll', function(e){
        	var distanceY = window.pageYOffset || document.documentElement.scrollTop,
            shrinkOn = 300,
            header = document.querySelector("header");
        	if (distanceY > shrinkOn) {
            	classie.add(header,"smaller");
        	} else {
            if (classie.has(header,"smaller")) {
                classie.remove(header,"smaller");
            }
        	}
    		});
			}
			window.onload = init();

			/*
				PSUDOCODE:
					hover over grid section
					wait 5 seconds <!>while the user watches the video<!>
					if mouse is still hoevered
						load info
						break (info loaded on panel)
					if mouse moved off before 2 seonds
						cancel operation
			*/

			/*
	    		GOOGLE ANALYTICS on an IFRAMEFrom Quora: Put the iframe within a div, and attach a javascript function to that div that will register every click within that div in your analytics package. If you use Google Analytics, something like this should do the trick:

				<div id="DIV_NAME" onClick="javascript: pageTracker._trackPageview('/outgoing/CUSTOM_LABEL');">
						<iframe>IFRAME CONTENTS</iframe>
				</div>


			*/

		</script>

		</body>
</html>




