{% extends 'Gigstop/base.html' %}

{% load staticfiles %}

{% block body_block %}
	<div id="profile">
		<h2>Welcome {{bandname}} </h2><br/>
		{% if events %}
		<ul>
			{% for Event in events %}
			 <li><strong>Event: {{Event.name}}</strong><br/>
			 <strong>Location: {{Event.venue}}</strong><br/> 
			 <strong>Media: {{Event.media}}</strong><br/>
			 <strong>Tickets Available: {{Event.no_tickets}}</strong><br/>
			 <a href="{% url 'delete_event' Event.id %}"> Delete Event</a><br/>
			<a href= "{% url 'showtickets' Event.id %}">Show Tickets</a></li><br/>
			{% endfor %}
		</ul>
		{% else %}
		<p>You no gigs active</p>
		{% endif %}
	</div>
	<a href="{% url 'add_event' %}" id="addEvent">Add Event</a><br/>
{% endblock %}