{% extends 'Gigstop/base.html' %}

{% block title %}Register with Gigstop{% endblock %}

{% block body_block %}

	<header id="header">
			<h1>Register with Gig Hub</h1>

			<div class="LoginBox">

				<form id="login" method="post" 	action"/app/login/">
					{% csrf_token %}	
					<div> 

						<br>

						<!-- <p>Fans</p> -->

						<a href="{% url 'user_registration' %}" id="user_reg">Fans<br><br>
							<span style="color:#ff6600;">Register here</span></a>
					
						</br><br>

						<!-- <p>Bands</p> -->
					
						<a href="{% url 'performer_registration' %}" id="performer_reg">Bands<br><br>
							<span style="color:#ff6600;">Register here</span></a>

					</div>
				<br>

				</form>

				<br>

				<p>Already registered?</p>

			<input type="submit" value="login here" onClick="parent.location='{% url 'login' %}'"/>

			</div>
	</header>


{% endblock %}