{% extends 'Gigstop/base.html' %}

{% load staticfiles %}

{% block title %}Tickets for Event{% endblock %}

{% block body_block %}
	<p><strong>Tickets Sold</strong></p><br/>
		{% if tickets %}
		<ul>
			{% for Ticket in tickets %}
			 <strong>User: {{Ticket.user}}</strong><br/>
			 <strong>User Email: {{ Ticket.user.email }}</strong><br/>
			 <strong>Price: ${{Ticket.price}}</strong><br/>
			 <strong>Tickets purchased: {{Ticket.quantity}} </strong><br/>
			{% endfor %}
		</ul>
		{% else %}
		<p>You haven't sold any tickets for this event</p>
		{% endif %}
	<a href="{% url 'index' %}" id="home">Back to Home</a>
{% endblock %}