{% extends 'Gigstop/base.html' %}

{% load staticfiles %}

{% block body_block %}

<header id="header">



		<h1>{{user.username}} </h1>
		<p>your tickets and saved artists</p><br>
		{% if tickets %}

		<ul>


		{% for Ticket in tickets %}
			<div class="UserTicketsBox">
				<ul>
					 <li><strong>Band: {{Ticket.event.performer.bandname}}</strong><br>
					 <strong>Venue: {{Ticket.event.venue}}</strong><br>
		             <strong>Date: {{Ticket.event.time.date}}</strong><br>
		             <strong>Time: {{Ticket.event.time.time}}</strong><br>
		             <br>
					{% endfor %}
				</ul>
			</div>

				{% else %}

				<p>You have to active tickets</p>

		{% endif %}

		{% if likes %}
				{% for Like in likes %}
			<div class="UserTicketsBox">
				<ul>
					 <li><strong>Band: {{Like.performer.bandname}}</strong><br>
		             <br>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

</header>
{% endblock %}