{% extends 'Gigstop/base.html' %}

{% load staticfiles %}

{% block body_block %}
	<div id="profile">
		<h2>Welcome {{user.username}} </h2><br/>
		{% if tickets %}
		<ul>
			{% for Ticket in tickets %}
			 <li><strong>Band: {{Ticket.event.performer.bandname}}</strong><br>
			 <strong>Venue: {{Ticket.event.venue}}</strong><br>
             <strong>Date: {{Ticket.event.time.date}}</strong><br>
             <strong>Time: {{Ticket.event.time.time}}</strong><br>
             <br>
			{% endfor %}
		</ul>
		{% else %}
		<p>You have to active tickets</p>
		{% endif %}
	</div>
{% endblock %}