{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}

		<div class="item">
				<a href="http://www.youtube.com/watch?v=k_LAZjLi3RU" rel="prettyPhoto" title="">
				<img src="https://img.youtube.com/vi/k_LAZjLi3RU/maxresdefault.jpg" alt="YouTube" title="{%band name%}"/></a>

				<div class="caption">
					<div>
					<a id="bandPage" href="http://facebook.com" target="blank">MOTHERS CAKE</a>
					<p id="genre">Alt Rock</p>
					<p>King Tuts Whah Whah Hut</p>
					<p id="price">$8.00</p>
					<a id="videoPlay" rel="prettyphoto" href="http://www.youtube.com/watch?v=k_LAZjLi3RU" target="blank">PLAY</a>
					<a id="buy" href="http://twitter.com" target="blank">BUY TICKETS</a>
					<a id="interested" href="http://google.com" target="blank">I LIKE THIS!</a>
				</div>
		</div>

		<script type="text/javascript" charset="utf-8">
			$(document).ready(function(){
			$("a[rel^='prettyPhoto']").prettyPhoto();
			});
		</script>

{% endblock %}